@use "../utils" as u; 
// one vw unit is equals to 1% of device's viewport i.e mobile width is 375px so 1vw = 1%of375px = 3.75vw;

h1, h2, h3 {
    margin-top: 0;
    line-height: 1.1;
    font-weight: 700;
}

h1 {
    font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}
h2 {
    font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
}

p {
    margin-top: 0; 
    font-size: u.rem(16);
    // font-size: clamp(16px, 4vw, 24px);
}

a, a:visited, a:active {
    text-decoration: none;
}